# Example MySQL config file for very large systems.
#
# This is for a large system with memory of 1G-2G where the system runs mainly
# MySQL.
#
# MySQL programs look for option files in a set of
# locations which depend on the deployment platform.
# You can copy this option file to one of those
# locations. For information about these locations, see:
# http://dev.mysql.com/doc/mysql/en/option-files.html
#
# In this file, you can use all long options that a program supports.
# If you want to know which options a program supports, run the program
# with the "--help" option.

# The following options will be passed to all MySQL clients
[client]
port		= 3306
socket		= /tmp/mysql.sock

# The MySQL server
[mysqld]
port = 3306
socket = /tmp/mysql.sock
datadir = /data/mysqldata
enforce-gtid-consistency = true
# required unique id between 2 and 2^32 - 1,slave must greater than master
server-id = 11

# set character type
character-set-server = utf8
# disabled dns
skip-name-resolve
# skip external lock
skip-external-locking
# The maximum size of one packet or any generated or intermediate string
max_allowed_packet = 16M
explicit_defaults_for_timestamp=true
# If you see many sort_merge_passes per second in SHOW GLOBAL STATUS output, you can consider increasing the
# sort_buffer_size value to speed up ORDER BY or GROUP BY operations that cannot be improved with query optimization
# or improved indexing.
sort_buffer_size = 32M
# enable GTID
gtid-mode = on
log_slave_updates=1
# replication for master and slave
binlog_format = MIXED
log_bin = /data/mysqllogs/mysql-bin
expire_logs_days = 10
# replication for slave
relay-log = /data/mysqllogs/mysql-relay-bin
relay-log-index = /data/mysqllogs/mysql-relay-bin.index
relay-log-info-file = /data/mysqllogs/mysql-relay-log.info
# Logging slow_log/error_log
slow-query-log = 1
long_query_time = 5
slow-query-log-file = /data/mysqllogs/slow.log
log_error = /data/mysqllogs/mysql-error.log
# Cache and Limits
tmp_table_size = 32M
max_heap_table_size = 32M
query_cache_type = 0
query_cache_size = 0
max_connections = 500
thread_cache_size = 50
open_files_limit = 65535
table_definition_cache = 1024
table_open_cache = 2048
# if you are using InnoDB tables
default_storage_engine = InnoDB
innodb_buffer_pool_size = 4096M
innodb_data_file_path = ibdata1:256M:autoextend
innodb_thread_concurrency = 8
innodb_flush_log_at_trx_commit = 2
innodb_log_buffer_size = 16M
innodb_log_file_size = 256M
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_file_per_table = 0

# Size of the buffer used for doing full table scans of MyISAM tables.
#read_buffer_size = 4M
#read_rnd_buffer_size = 32M
# Size of the Key Buffer, used to cache index blocks for MyISAM tables.
#key_buffer_size = 512M
sql_mode='STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION'

# Slave
read-only = ON
log_bin = OFF
sync_binlog = 0
slave_parallel_type = LOGICAL_CLOCK
slave_parallel_workers = 32
master_info_repository = TABLE
relay_log_info_repository = TABLE
relay_log_recovery = 1


[mysqldump]
quick
max_allowed_packet = 16M

[mysql]
no-auto-rehash
# Remove the next comment character if you are not familiar with SQL
# #safe-updates
#
#
[myisamchk]
key_buffer_size = 20M
sort_buffer_size = 20M
read_buffer = 2M
write_buffer = 2M

[mysqlhotcopy]
interactive-timeout
